body {
    font-family: 'Work Sans';
    background: #2B2B2B;
}

.section-six {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%),
        url(Img/didi\ soko.png);
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.saati {
    padding: 30px 15px;
    gap: 10px;
    width: 320px;
    height: 150px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

hr {
    border-color: #FFFFFF;
}


.linki {
    font-weight: 600;
    color: #FFFFFF;
    line-height: 140%;
}

.linki:hover {
    color: #FFFFFF;
}

.gilaki {
    background: #A259FF;
    border-radius: 20px;
}

.gilaki-101 {
    margin-top: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
    background: #3B3B3B;
    border-radius: 20px;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.gilaki-200 {
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
}

.navigacia {
    margin-left: auto;
}

.poto {
    width: 100%;
    height: 100%;
}

.poto-1 {
    width: 100%;
}

.poto-2 {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.statia {
    padding: 0;
    border-radius: 20px;
    border: none;
    background: #3B3B3B;
}

.satauri-1 {
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    color: #FFFFFF;
}

.satauri-2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 110%;
    color: #FFFFFF;
}

.satauri-3 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}

.qvesatauri {
    font-family: 'Space Mono';
    font-size: 12px;
    line-height: 110%;
    color: #FFFFFF;
}

.teqsti-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.teqsti-2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.teqsti-3 {
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.teqsti-4 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #FFFFFF;
}

.teqsti-5 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    color: #FFFFFF;
    background: #A259FF;
    border-radius: 20px;
    border: none;
    height: 100%;
    width: 100%;
}

.teqsti-6 {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.teqsti-7 {
    font-size: 16px;
    line-height: 140%;
    color: #858584;
    text-align: center;
}

.teqsti-8 {
    font-family: 'Space Mono';
    font-size: 16px;
    color: #FFFFFF;
}

.teqsti-9 {
    font-family: 'Space Mono';
    font-size: 12px;
    line-height: 200%;
    color: #858584;
}

.teqsti-10 {
    font-family: 'Space Mono';
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.teqsti-11 {
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    color: #FFFFFF;
}

.teqsti-12 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.teqsti-13 {
    font-size: 12px;
    line-height: 110%;
    color: #CCCCCC;
}

.damaluli-2,
.damaluli-6 {
    display: none !important;
}

.border-1 {
    border: 2px solid #A259FF;
    border-radius: 20px;
    width: 100%;
    height: 60%;
}

.border-2 {
    border: 2px solid #A259FF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.number-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 18px;
    background: #2B2B2B;
    border-radius: 20px;
}

.number {
    font-family: 'Space Mono';
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #858584;
}

.statia-1 {
    background: #3B3B3B;
    border-radius: 20px;

}

.zoma-2 {
    height: 150px;
}

.zoma-3 {
    width: 70%;
}

.zoma-4 {
    width: 70%;
}

.statia-2 {
    background: #3B3B3B;
    border-radius: 20px;
}

.inputebi {
    position: relative;
}


.input-1 {
    padding: 16px 0px 16px 20px;
    gap: 12px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.input-2 {
    position: absolute;
    right: 0;
    top: 0;
    background: #A259FF;
    color: #FFFFFF;
    width: 40%;
    height: 60px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    border: none;
}

.input-3 {
    padding: 16px 0px 16px 20px;
    gap: 12px;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
    margin-bottom: 16px;
}

.input-4 {
    background: #A259FF;
    color: #FFFFFF;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    border: none;
}

.peri {
    background: #3B3B3B;
}

@media (max-width: 500px) {
    .satauri-1 {
        font-size: 31px;
    }

    .teqsti-1 {
        font-size: 17px;
    }

    .damaluli-1,
    .damaluli-3,
    .damaluli-4,
    .damaluli-5,
    .damaluli-7 {
        display: none !important;
    }

    .damaluli-2,
    .damaluli-6 {
        display: grid !important;
    }

    .specbutton {
        width: 100%;
    }

    .mimartuleba-1 {
        display: flex;
        flex-direction: row;
    }

    .poto-2 img {
        width: 60%;
        padding-left: 17px;
        margin-top: -13px;
    }

    .teqsti-6,
    .teqsti-7 {
        text-align: start !important;
    }

    .teqsti-9 {
        font-size: 13px;
    }

    .teqsti-10 {
        font-size: 16px;
    }

    .statia-1 {
        height: 90%;
    }

    .section-six {
        background-size: 100% 100%;
    }

    .gilaki-101 {
        margin-top: 10%;
    }

    .fleqsi {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .instruqcia h5 {
        margin-top: 15px;
        font-size: 18px !important;
        text-align: start !important;
    }

    .instruqcia p {
        font-size: 13px !important;
        text-align: start !important;
    }

    .zoma-1 {
        width: 140% !important;
    }

    .statia-2 {
        background-color: transparent;
        border: none;
    }
}

@media (max-width: 800px) {

    .linki {
        font-size: 14px;
    }

    .teqsti-1 {
        font-size: 15.5px;
    }

    .teqsti-5 {
        font-size: 13px;
        border-radius: 10px;
    }

    .teqsti-6 {
        font-size: 20px;
    }

    .border-2 {
        border-radius: 10px;
        width: 100%;
    }

    .border-1 {
        font-size: 13px;
    }

    .teqsti-9 {
        font-size: 10px;
    }

    .teqsti-10 {
        font-size: 12px;
    }

    .instruqcia h5 {
        font-size: 24px;
    }

    .instruqcia p {
        font-size: 16px;
    }

    .zoma-2 {
        height: 100%;
    }

    .teqsti-11 {
        font-size: 26px;
    }

    .zoma-4 {
        width: 85%;
    }


}

@media (max-width: 950px) {

    .input-1,
    .input-2 {
        font-size: 12px;
    }

    .input-2 {
        width: 35%;
    }
}
